#p1{
    font-family: 'Roboto',cursive;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
}
#B1{
    font-family:'Sofia', sans-serif;
}
}
#p2{
    font-family: 'Sofia',sans-serif ;
    font-style: oblique;
    font-weight: 400;
}
.fa light fa-star{
    color: darkslateblue;
}